.calendar {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, 100px);
  grid-gap: 1px;
  counter-reset: day-number;
  font: 30px Arial, sans-serif;

  & div {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #eee;
    transition: 0.3s linear;
  }

  & div::before {
    counter-increment: day-number;
    content: counter(day-number);
  }

  & div:hover {
    cursor: pointer;
    background-color: pink;
    margin-top: -20px;
  }
}
