.calendar-28 {
  div:nth-of-type(n+29) {
    display: none;
  }
}

.calendar-29 {
  div:nth-of-type(n+30) {
    display: none;
  }
}

.calendar-30 {
  div:nth-of-type(n+31) {
    display: none;
  }
}
