/*
.calendar-mon {
  div:nth-of-type(1) {
    grid-column-start: 1;
  }
}

.calendar-tue {
  div:nth-of-type(1) {
    grid-column-start: 2;
  }
}

.calendar-wed {
  div:nth-of-type(1) {
    grid-column-start: 3;
  }
}

.calendar-thu {
  div:nth-of-type(1) {
    grid-column-start: 4;
  }
}

.calendar-fri {
  div:nth-of-type(1) {
    grid-column-start: 5;
  }
}

.calendar-sat {
  div:nth-of-type(1) {
    grid-column-start: 6;
  }
}

.calendar-sun {
  div:nth-of-type(1) {
    grid-column-start: 7;
  }
}
*/
